@model List<GetPostByConnectionIdQueryResponse>
@{
    string username = Context.Session.GetString("UserName");
    var posts = Model;
}
<ul class="m-b-0"  style="height:500px;box-sizing:border-box; overflow-x:hidden">
    @foreach (var post in posts)
    {
        <li class="clearfix" data-id="{@post.Id}">
            @if (username != post.CreatedBy){
                <div class="message-data text-right">
                    <span class="message-data-time">@post.CreatedBy
                    </span>
                    <span class="message-data-time" style="font-size:10px">
                        @post.CreatedAt.ToString("MMMM dd H:mm")
                    </span>
                </div>
                <div class="message other-message float-right">@post.Message</div>
            }
            else{
                <div class="message-data">
                    <span class="message-data-time">
                        Me 
                    </span>
                    <span class="message-data-time" style="font-size:10px">
                        @post.CreatedAt.ToString("MMMM dd H:mm")
                    </span>
                  </div>

                <div class="message my-message">@post.Message</div>
            }
          
        </li>
    }

</ul>
